.page {
  padding: 2.5rem 0 2rem;
  background-color: #ffffff;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}
.space-y-32 > *:not(:first-child) {
  margin-top: 2rem;
}
.space-y-19 > *:not(:first-child) {
  margin-top: 1.19rem;
}
.section {
  margin: 0 1.5rem;
  padding: 1.88rem 0.63rem 1.5rem;
  border-radius: 1.25rem;
  filter: drop-shadow(0px 1.56rem 1.97rem #05050533);
  background-image: url(https://codefun-proj-user-res-1256085488.cos.ap-guangzhou.myqcloud.com/63247bfa5a7e3f03106287e7/6443cb76b98f5d001164bfe3/16821646281715135250.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.space-y-20 > *:not(:first-child) {
  margin-top: 1.25rem;
}
.text {
  margin-left: 0.38rem;
  color: #ffffff;
  font-size: 0.94rem;
  font-family: AlimamaShuHeiTi;
  line-height: 0.88rem;
  text-shadow: 0px 0.13rem 0.25rem #0000001a;
}
.font_1 {
  font-size: 0.75rem;
  font-family: SourceHanSansCN;
  line-height: 0.72rem;
  color: #140b38;
}
.text_2 {
  color: #ffffff;
  font-size: 0.81rem;
  line-height: 1rem;
}
.equal-division {
  padding: 0 0.5rem;
}
.space-x-6 > *:not(:first-child) {
  margin-left: 0.38rem;
}
.equal-division-item {
  flex: 1 1 5.59rem;
  padding: 0.38rem 0;
}
.space-y-12 > *:not(:first-child) {
  margin-top: 0.75rem;
}
.image {
  border-radius: 1.13rem;
  width: 3.5rem;
  height: 3.5rem;
}
.text_3 {
  line-height: 0.69rem;
}
.text_4 {
  line-height: 0.69rem;
}
.text_5 {
  line-height: 0.69rem;
}
.image_2 {
  width: 3.5rem;
  height: 3.5rem;
}
.font_2 {
  font-size: 1rem;
  font-family: SourceHanSansCN;
  line-height: 0.94rem;
  font-weight: 700;
  color: #140b38;
}
.text_6 {
  margin-left: 1.63rem;
}
.group {
  padding-left: 1.56rem;
  padding-right: 1.25rem;
}
.space-x-13 > *:not(:first-child) {
  margin-left: 0.81rem;
}
.section_2 {
  flex: 1 1 6.81rem;
  padding: 0.88rem 1rem;
  background-color: #f2f4fa;
  border-radius: 0.88rem;
  overflow: hidden;
  height: 6.13rem;
}
.space-y-8 > *:not(:first-child) {
  margin-top: 0.5rem;
}
.image_4 {
  width: 2rem;
  height: 2.13rem;
}
.font_3 {
  font-size: 0.75rem;
  font-family: SourceHanSansCN;
  line-height: 0.72rem;
  font-weight: 700;
  color: #140b38;
}
.font_4 {
  font-size: 0.63rem;
  font-family: SourceHanSansCN;
  line-height: 0.59rem;
  color: #140b3880;
}
.image_5 {
  width: 2rem;
  height: 1.44rem;
}
.image_6 {
  width: 0.38rem;
  height: 0.38rem;
}
.text_8 {
  margin-top: 0.75rem;
}
.text_9 {
  margin-top: 0.38rem;
}
.group_2 {
  width: 5.38rem;
}
.space-y-9 > *:not(:first-child) {
  margin-top: 0.56rem;
}
.section_3 {
  padding: 0.38rem 0 0.75rem;
  background-color: #f2f4fa;
  border-radius: 0.88rem;
  overflow: hidden;
}
.space-y-4 > *:not(:first-child) {
  margin-top: 0.25rem;
}
.image_3 {
  width: 1.25rem;
  height: 1.25rem;
}
.text_7 {
  font-size: 0.69rem;
  line-height: 0.66rem;
}
.text-wrapper {
  padding: 0.75rem 0;
  background-color: #f2f4fa;
  border-radius: 0.88rem;
  overflow: hidden;
  width: 5.38rem;
}
.text_10 {
  line-height: 0.78rem;
}
.text_11 {
  margin-left: 1.75rem;
  margin-top: 2.13rem;
}
.list {
  margin-top: 1.5rem;
  padding-left: 1.69rem;
  padding-right: 1.31rem;
}
.space-y-28 > *:not(:first-child) {
  margin-top: 1.75rem;
}
.space-x-12 > *:not(:first-child) {
  margin-left: 0.75rem;
}
.image_7 {
  border-radius: 0.78rem;
  width: 2.5rem;
  height: 2.5rem;
}
.space-y-6 > *:not(:first-child) {
  margin-top: 0.38rem;
}
.font_5 {
  font-size: 0.63rem;
  font-family: HarmonyOSSansTC;
  line-height: 0.47rem;
  color: #140b3880;
}
.space-y-15 > *:not(:first-child) {
  margin-top: 0.94rem;
}
.image_9 {
  width: 22.31rem;
  height: 9.5rem;
}